/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2019, 6:03:50 PM
    Author     : Rox
*/

*{
    margin: 0;
}

.header{
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-color:#666666;
}

.logo a{
    font-size: 50px;
    text-decoration: none;
   display: block;
   height: 60px;
   margin-bottom: -10px;
   margin-left: 25px;
   margin-right: 10px;
   margin-top: 10px;
   width: 230px;
}
li {
 
    //display: list-item;
    text-align: -webkit-match-parent;
}
.navigation-menu ul li {
      display: block;
    font-size: 20px;
    float: right;
    margin-left: 20px;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}
.Course a{
    
     text-decoration: none;
   display: block;
}

.navigation-menu{
    color: #ff00ff;
    height: 50px;
    background-color: #8a8782;
}